<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Title</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>

    <nav>
      <h2><a href="/">Title</a></h2>
      <ul>
        <li><a href="/local">Proiecte locale</a></li>
        <li><a href="/national">Proiecte naționale</a></li>
        <li><a href="/international">Proiecte internaționale</a></li>
        <li><a href="/login">Log in</a></li>
        <li><a href="/signup">Sign up</a></li>
      </ul>
    </nav>

    {{#if flash.on}}
      <div class="flashMessage" style="opacity: 1; translate: opacity 300ms ease-in-out">
        <h4>{{{flash.message}}}</h4>
      </div>
      <script type="text/javascript">
        let flashMessage = document.querySelector('.flashMessage');
        setTimeout(() => flashMessage.style.opacity = 0, 10*1000);
        setTimeout(() => flashMessage.parentNode.removeChild(flashMessage), 11*1000);
      </script>
    {{/if}}

    <main>{{{ body }}}</main>
  </body>
</html>
